.container
  .row
    .small-12.columns.center
      h1 Select a time
      .panel
        form
          .row
            div.small-2.columns
              label(for="room-input").right.inline Room
            Room.small-3.columns
              input(type="text", placeholder="Room", ng-model="room")#room-input
            div.small-2.columns
              p
              //label(for="date-input").right.inline Date
            div.small-3.columns
              p
              //input(ui-date="datePicker" ng-disabled="recurring" ui-date-format="mm/dd/yy" ng-focus="forceFront()" type="text" placeholder="Date" ng-model="date" ng-change="dateChange(date)")#date-input       
            div.small-1.columns
              label(for="recurring-input").left Weekly event?
            div.small-1.columns
              input(type="checkbox", ng-model="recurring", ng-change="swapView(recurring)" ng-init="recurring=false")#recurring-input
          .row
            div.small-8.columns(ng-if="!recurring")
          .row(ng-if="recurring")
              .small-2.columns
                label.right.inline Start
              .small-3.columns
                input(ui-date="startPicker" ui-date-format="mm/dd/yy" ng-focus="forceFront()" type="text" placeholder="Date" ng-model="startDateString" ng-init="startDateString=date" ng-change="renderRecur(startDateString,endDateString)")#start-input
              .small-2.columns
                label.right.inline End 
              .small-3.columns
                input(ui-date="endPicker" ui-date-format="mm/dd/yy" ng-focus="forceFront()" type="text" placeholder="Date" ng-model="endDateString" ng-change="renderRecur(startDateString,endDateString)")#end-input
              .small-offset-2
          //.row(ng-if="recurring")
            .small-1.columns.small-offset-2
              label(for="mon").right.inline Mon 
              input(type="checkbox" ng-model="recurDays[1]")#mon
            .small-1.columns
              label(for="tues").right.inline Tues
              input(type="checkbox" ng-model="recurDays[2]")#tues
            .small-1.columns
              label(for="wed").right.inline Wed
              input(type="checkbox" ng-model="recurDays[3]")#wed
            .small-1.columns
              label(for="thur").right.inline Thur
              input(type="checkbox" ng-model="recurDays[4]")#thur
            .small-1.columns
              label(for="fri").right.inline Fri
              input(type="checkbox" ng-model="recurDays[5]")#fri
            .small-1.columns
              label(for="sat").right.inline Sat
              input(type="checkbox" ng-model="recurDays[6]")#sat
            .small-1.columns.small-uncentered
              label(for="Sun").right.inline Sun
              input(type="checkbox" ng-model="recurDays[0]")#sun
            .small-offset-5
      h5 Click and drag on the calendar to select a time.


  .row
    div.large-12.columns(ui-calendar="uiConfig.calendar" calendar="myCalendar" ng-model="eventSources")#calendar
    //a(ng-switch="conflicted")
      a(ng-switch-when="conflicted" ng-click="submit()").button.right Correct Conflicts
    a(ng-if="conflicted" ng-click="resolve()").button.right Resolve conflicts
    a(ng-if="!conflicted" ng-click="submit()").button.right Next





