.container
    .row
        h1 Confirm your Reservation
    .row
        .large-12.columns
            form
                fieldset
                    label Event Name:
                    input(type='text', ng-model="eventName" placeholder='MatSci Meeting')
                    label Name/Organization:
                    input(type='text', ng-model="name")
                    label Email:
                    input(type='text', ng-model="email")
                    label.checkbox
                        input(type='checkbox')
                        |Public
        .row
          .small-12.columns.panel
              h3 You have reserved:
              div(ng-if="reservations")
                .row
                  .small-4.columns
                    p
                      b Room
                  .small-4.columns
                    p
                      b Date
                  .small-4.columns
                    p
                      b Time
                .row(ng-repeat="res in reservations")
                  .small-4.columns 
                    p {{res.room}}
                  .small-4.columns
                    p {{res.date}}
                  .small-4.columns
                    p {{res.start}} - {{res.end}}

              div(ng-if="!reservations")
                h4 Room: {{roomName}}
                h4 Date: {{date}}
                h4 Time: {{time}}
              a.button.btn-primary.btn-primary#backButton(type='button', ng-click="backButton()") Back 
              a.button.btn-primary.btn-primary#confirmButton(type='button', ng-click="confirmButton()", href="javascript:") Confirm
