.container
  .row
    .center
      h2 1 of the Times is Conflicted

  .row
    .panel.columns.small-3(ng-repeat="res in reses",class="accept-{{!res.conflicted}}", id="{{res._id}}")
      .row 
        h5 Date: {{res.date}}
      .row 
        h5 Room: {{res.room}}
      .row 
        h5 Start: {{res.time}}
      .row 
        h5 End: {{res.end}}

      .row(ng-if="res.conflicted")
        .button.small Change Room
        .button.small Change Time
        .button.small.expand(ng-click="skipFunction($index)") Skip this Meeting