h1 Confirmation
form
    fieldset
        label Event Name:
        input(type='text', placeholder='AC 103')
        
    fieldset
        label Customer/Organization:
        input(type='text', placeholder='Potatoe')

    fieldset
        label.checkbox
            input(type='checkbox')
            |Public

    fieldset
        label Email:
        input(type='text', placeholder='yourName@email.com')

