.container
  .row
    .center
      h2 1 of the Times is Conflicted

  .row
    .panel.columns.small-3.accept
      .row.colums.small-12.center First Date
      .row 
        h5 Date
      .row 
        h5 Room
      .row 
        h5 Start
      .row 
        h5 End 
    .panel.columns.small-3.reject
      .row.colums.small-12.center First Date
      .row 
        h5 Date
      .row 
        h5 Room
      .row 
        h5 Start
      .row 
        h5 End  
      .row
        .button Change Room
        .button Change Time
        .button Skip this Meeting
    .panel.columns.small-3.accept
      .row.colums.small-12.center First Date
      .row 
        h5 Date
      .row 
        h5 Room
      .row 
        h5 Start
      .row 
        h5 End   
    .panel.columns.small-3.accept
      .row.colums.small-12.center First Date
      .row 
        h5 Date
      .row 
        h5 Room
      .row 
        h5 Start
      .row 
        h5 End  



