.container
    .row
        h1 Confirmation
    .row
        .large-4.columns
            form
                fieldset
                    label Event Name:
                    input(type='text', placeholder='MatSci Meeting')
                    label Customer/Organization:
                    input(type='text', ng-model="name")
                    label Email:
                    input(type='text', ng-model="email")
                    label.checkbox
                        input(type='checkbox')
                        |Public
        .large-8.columns.panel
            h3 You have reserved
            h4 Room: {{roomName}}
            h4 On: {{date}}
            h4 At: {{time}}
            a.button.btn-primary.btn-primary#backButton(type='button', href="/#/roomSelect") Back 
            a.button.btn-primary.btn-primary#confirmButton(type='button', ng-click="confirmButton()", href="/#/") Confirm
