.div 
  h1 Hello {{name}}
  .panel.well 
    h3 Make a Room Reservation
    input(ng-model="room") 
    span(ng-switch="room")
      span(ng-switch-when="any")
        a(href="viewA") SubmitA
      span(ng-switch-default)
        a(href="viewB") SubmitB


