.container
  .row
    .columns.small-7
      h1 Hello {{name}}
      .panel.row
        h3 Make a Room Reservation
        .columns.large-6
          h5 Room Name: 
          input(ng-model="room", placeholder="Room Name", typeahead='name for name in states | filter:selected')) 
          a(href="/#/roomSelect").button Check Avalibility
        .columns.large-2
          h3 Or
        .columns.large-4
          a.button View Rooms
      .panel.row
        h3 Your Reservations

        table(style="width:100%;", ng-if = "reservations.length")
          tr
            th Event Name
            th Room
            th Date
            th

          tr(ng-repeat="reservation in reservations")
            td {{reservation.name}}
            td {{reservation.room}}
            td {{reservation.date}}
            td
              a.button.small(href="javascript:void(0);", ng-click="cancel($index)") Cancel
        .alert-box.success(ng-if="alertOpen") Your room request has been submitted for approval. Expect an email with a confirmation.
          a.close( ng-click="closeAlert()") x
        div(ng-if="!reservations.length")
          h5 You currently have no reservations.
    .columns.small-5.columns
      .panel
        h3 Public Events
        table(style="width:100%;")
          tr(ng-repeat="event in currentEvents")
            td {{event.name}}
            td {{event.start}} - {{event.end}}
            td {{event.location}}
        input(type="text", placeholder="Search")
