.container
  .row
    .columns.small-7
      h1 Hello {{name}}

      .panel.row
        h3 Make a Room Reservation
        .columns.small-5
          h5 Room Name:
          input(ng-model="room", id="roomName", ng-click="apply" placeholder="Room Name" class="sfTypeahead" datasets="rooms")
          a(href="/#/calendar", ng-click="forwardRoom()").button Check Avalibility
        .columns.small-2
          h3 Or
        .columns.small-5
          a.button(href="/#/roomSelect") View All Rooms

      //.panel.row
        h3 Make a Room Reservation
        .columns.small-5
          a.button(href="/#/roomSelect") Help Me Find a Room
        .columns.small-2
          h3 Or
        .columns.small-5
          a.button(href="/#/calendar").button Reserve a Specific Room

      br
      .panel.row
        h3 Your Reservations

        table(style="width:100%;", ng-if = "reservations.length")
          tr
            th Event Name
            th Room
            th Date
            th Start Time
            th Status
            th
            th

          tr(ng-repeat="reservation in reservations")
            td
              a(ng-click="noFunction()") {{reservation.name}}
            td {{reservation.room}}
            td {{reservation.date}}
            td {{reservation.time}}
            td(ng-if="reservation.approved") Approved
            td(ng-if="!reservation.approved") Requested

            td
              a.button.small(href="javascript:void(0);", ng-click="cancel($index)") Cancel
            td
              a.button.small(href="javascript:void(0);", ng-click="noFunction($index)") Details
        .alert-box.success(ng-if="alertOpen") Your room request has been submitted for approval. Expect an email with a confirmation.
          a.close( ng-click="closeAlert()") x
        div(ng-if="!reservations.length")
          h5 You currently have no reservations.
    .columns.small-5.columns
      .panel
        h3 Public Events
        table(style="width:100%;")
          tr(ng-repeat="event in currentEvents")
            td {{event.name}}
            td {{event.start}} - {{event.end}}
            td {{event.location}}
        input(type="text", placeholder="Search")
