!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Angular Express Bootstrap Seed App
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/foundation.css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/css/app.css')

    script(src='/javascripts/vendor/zepto.js')    
    script(src="/javascripts/foundation.min.js")
  body
    block body