!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Room Registration
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/foundation.css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/custom.css')

  body
    block body
